@import "compass/reset";
@import "utils/normalize";
@import "utils/base";
@import "modules/base";

html {
  overflow-y: scroll;
  overflow-x: hidden;
}

body {
  overflow: hidden;
}

a {
  text-decoration: none;
}

.site-header {
  border-bottom: 1px #0070A2 solid;
  .site-logo { 
    a {
      padding: .5rem 1rem;
      display: block;
    }
  }
  .site-nav { }
  .arrow {
    width: 50%;
  }
}//.site-header

.site-stage { 
  //#note this method breaks back button
  @for $i from 1 through 10 {
  /*
    &[id="p#{$i}"] {
      //modality initiated
      article {
        display: none;
      }
      article[class*="p#{$i}"] { 
        display: block;
      }
    }
  */
  }

  //#note this method does not break back button; but depends on JS
  &:target {
    //modality initiated
    article {
      display: none;
    }
    article.selected { 
      display: block;
      a img { width: 100%; }
    }
  }

  // residual behavior?
  article.selected {
  }

  article { 
    h1 { }
    figure { 
      a {
        display: block;
        width: 100%;
        //&:focus img { width: 100%; }
      }
    }
  }//article
}//.site-stage

.site-footer {
  nav {
    ul {
      li {
        a {

        }
      }//li
    }
  }//nav
}
