
<% for (var i=0; i < products.length; i++) { %>
  <article class="id-<%= products[i].name %>">
    <h1><%= products[i].name %></h1>
    <form action=".">
      <input type="text" name="hello" />   
    </form>
    <figure>
      <!--p>A cat.</p-->
      <a href="#<%= products[i].name %>">
        <img src="http://placeanything.com/FractalPorn/<%= products[i].w %>/<%= products[i].h %>" />
      </a>
    </figure>
  </article>
<% } %>

