<h1>Select Soaps and Cleaners</h1>

<div class="ui ui-product-types">
  <ul>
    <li class="product-type">
      <span class="name"></span>
      <span class="img"><img src="http://placeanything.com/cats/150/150/" /></span>
      <div class="controls">
        <ul>
          <li><a href="#remove">Remove</a></li>
          <li><a href="#add">Add</li>
        </ul>
      </div>
      </li>
      <li class="product-type">
        <span class="name"></span>
        <span class="img"><img src="http://placeanything.com/cats/150/150/" /></span>
        <div class="controls">
          <ul>
            <li><a href="#remove">Remove</a></li>
            <li><a href="#add">Add</li>
          </ul>
        </div>
      </li>
      <li class="product-type">
        <span class="name"></span>
        <span class="img"><img src="http://placeanything.com/cats/150/150/" /></span>
        <div class="controls">
          <ul>
            <li><a href="#remove">Remove</a></li>
            <li><a href="#add">Add</li>
          </ul>
        </div>
      </li>
      <li class="product-type">
        <span class="name"></span>
        <span class="img"><img src="http://placeanything.com/cats/150/150/" /></span>
        <div class="controls">
          <ul>
            <li><a href="#remove">Remove</a></li>
            <li><a href="#add">Add</li>
          </ul>
        </div>
      </li>
      <li class="product-type">
        <span class="name"></span>
        <span class="img"><img src="http://placeanything.com/cats/150/150/" /></span>
        <div class="controls">
          <ul>
            <li><a href="#remove">Remove</a></li>
            <li><a href="#add">Add</li>
          </ul>
        </div>
      </li>
  </ul>
</div>

<div class="ui ui-sidebar">
  <div class="module"></div>
  <div class="module"></div>
  <div class="module"></div>
</div>

