*
{
	margin: 0;
	padding: 0;
}

*:focus
{
	outline: none; 
}

*::-moz-focus-inner
{ 
	border: none;
}

body
{
	background: #D1E9F6 url("../images/grad.png") top center no-repeat;
	font-family: "Overlock", sans-serif;
	color: #1C6DA4;
}

footer
{
	margin-bottom: 20px;
}

ul, ol
{
	margin-left: 20px;
}

p
{
	font-size: 16px;
}

a
{
	color: #669933;
	text-decoration: none;
}

a:hover
{
	text-decoration: underline;
}

h2
{
	font-size: 33px;
	margin-bottom: 25px;
}

.error
{
	color: red !important;
}

.logo
{
	width: 161px;
	height: 52px; /* 38px */
	margin-right: 55px;
	margin-top: -7px; /* added */
	float: left;
	background: url("../images/logo.png") no-repeat;
}

.popup
{
	color: #1C6DA4;
	padding: 20px;
}

#alphas
{
	background: url("../images/grad.png") center center no-repeat;
	width: 500px;
	display: none;
}

#alphas h2
{
	margin-bottom: 5px;
}

input.error
{
	border-color: red !important;
	color: #669933 !important;
	-moz-box-shadow: 0 0 3px 0 red !important;
	-webkit-box-shadow: 0 0 3px 0 red !important;
	box-shadow: 0 0 3px 0 red !important;
}

.valid
{
	color: 669933 !important;
}

input.valid
{
	border-color: 669933 !important;
}

input[type="text"], input[type="submit"]
{
	font-family: "Overlock", sans-serif;
	border: 1px solid #669933;
	height: 50px;
	padding: 0 10px;
	font-size: 27px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	margin-right: 10px;
	vertical-align: top;
	box-sizing: border-box;
}

.ie7 input[type="text"], .ie7 input[type="submit"]
{
	padding: 0 5px;
	filter: chroma(color=#000000);
}

.ie7 input[type="text"]
{
	height: 46px;
}

input[type="text"]:focus, input[type="submit"]:focus
{
	-moz-box-shadow: 0 0 3px 0 #669933;
	-webkit-box-shadow: 0 0 3px 0 #669933;
	box-shadow: 0 0 3px 0 #669933;
}

input[type="text"]
{
	width: 317px;
	color: #669933;
	font-style: italic;
}

input[type="submit"]
{
	outline: none;
	color: #FFF;
	padding: 0 30px;
	font-weight: 700;
	background: #669933 url("../images/button.png") repeat-x;
	cursor: pointer;
}

input[type="submit"]:hover
{
	background-position: 0 -50px;
}

input[type="submit"]:active
{
	background-position: 0 -100px;
}

.right
{
	float: right;
}

.left
{
	float: left;
}

.last
{
	margin-right: 0 !important;
}

.lighter
{
	color: #55A2CB;
}

.access
{
	text-indent: -2000px;
	overflow: hidden;
}

.ie7 .access
{
	text-indent: 0;
	color: transparent;
	text-transform: capitalize;
}

.container
{
	width: 960px;
	padding: 0 10px;
	margin: 0 auto;
}

.centered
{
	text-align: center;
}

.leaf
{
	width: 21px;
	height: 12px;
	display: inline-block;
	background: url("../images/leaf.png") no-repeat;
	vertical-align: text-top;
}

.ecostrip
{
	width: 100%;
	height: 304px;
	background: url("../images/ecostrip.png") repeat-x;
}

.emailbar
{
	width: 490px;
	height: 66px;
	margin: 0 auto;
	padding-top: 12px;
	margin-bottom: 10px;
	background: url("../images/emailbar.png") no-repeat;
}

.container#beta, .container#why, .container#story
{
	margin-bottom: 200px;
}

#asterik
{
	margin-top: 15px;
	margin-bottom: 100px;
}

#headlines
{
	margin-top: 23px;
	margin-bottom: 37px;
	padding-top: 30px;
}

#headlines p
{
	font-size: 20px;
}

#headlines h2
{
	font-size: 38px;
}

#headlines h2 .leaf
{
	height: 28px;
	margin-top: 10px;
}