header
{
	height: 44px;
	width: 100%;
	padding: 20px 0;
	display: block;
	background: url("../images/header.png") repeat-x;
}

header nav
{
	overflow: visible;
	display: inline-block;
	margin-top: 10px;
	float: left;
}


header nav ul
{
	overflow: visible;
}

header nav ul li
{
	float: left;
	margin-bottom: 0;
	list-style: none;
}

header nav ul li a
{
	height: 24px;
	display: inline-block;
	color: #1C6DA4;
	text-decoration: none;
	font-family: "Overlock", sans-serif;
	font-weight: 700;
	font-size: 16px;
  font-size: 13px; /* @nerdfiles 28 2013 01 16:37:37 */
	padding: 0 16px;
}

header nav ul li a:hover
{
	text-decoration: none;
}

header nav ul li a.divet
{
	position: relative;
}

header nav ul li a.divet span
{
	position: absolute;
	background: url("../images/divets.png") no-repeat;
	width: 33px;
	height: 24px;
	top: -2px;
}

header nav ul li a.divet span.start
{
	left: 0;
}

header nav ul li a.divet span.end
{
	background-position: -33px 0;
	right: 0;
}

header nav ul li a:hover
{
	color: #55A2CB;
}

header #socialbar
{
	width: 192px;
	height: 43px;
	float: right;
	display: block;
	background: url("../images/socialbar.png") no-repeat;
}

header #socialbar ul
{
	margin: 9px auto;
	display: block;
	overflow: auto;
	width: 130px;
}

header #socialbar ul li
{
	float: left;
	margin-bottom: 0;
	list-style: none;
}

header #socialbar ul li a.social
{
	width: 25px;
	height: 25px;
	display: block;
	margin-right: 10px;
	background: url("../images/social.png") no-repeat;
}

header #socialbar ul li a.social.twitter
{
	background-position: 0 0;
}

header #socialbar ul li a.social.facebook
{
	background-position: -25px 0;
}

header #socialbar ul li a.social.google
{
	background-position: -50px 0;
}

header #socialbar ul li a.social.linkedin
{
	background-position: -75px 0;
}

header #socialbar ul li a.social.twitter:hover
{
	background-position: 0 -25px;
}

header #socialbar ul li a.social.facebook:hover
{
	background-position: -25px -25px;
}

header #socialbar ul li a.social.google:hover
{
	background-position: -50px -25px;
}

header #socialbar ul li a.social.linkedin:hover
{
	background-position: -75px -25px;
}
