.papers
{
	width: 854px;
	margin: 0 auto;
	position: relative;
}

.papers .paper
{
	width: 734px;
	height: 650px;
	position: relative;
	padding: 40px 60px 120px 60px;
	background: #FFF url("../images/paper.png");
	-webkit-box-shadow:  3px 3px 3px 0px rgba(0, 0, 0, .3);
	-moz-box-shadow:  3px 3px 3px 0px rgba(0, 0, 0, .3);
	box-shadow:  3px 3px 3px 0px rgba(0, 0, 0, .3);
}

.papers .paper p
{
	font-size: 20px;
}

.papers .paper .recycle
{
	position: absolute;
	bottom: 40px;
	right: 40px;
	width: 130px;
	height: 130px;
	background: url("../images/recycle.png") no-repeat;
}

.ie7 .papers .paper, .ie8 .papers .paper
{
	border: 1px solid #CCC;
}
