#reasons
{
	width: 100%;
	height: 214px;
	background: url("../images/bluestrip.png") repeat-x;
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	border-radius: 20px;
	-webkit-box-shadow: inset 0px 0px 8px 4px #1C6DA4;
	-moz-box-shadow: inset 0px 0px 8px 4px #1C6DA4;
	box-shadow: inset 0px 0px 8px 4px #1C6DA4;
}

#reasons .reason
{
	width: 300px;
	height: 194px;
	float: left;
	margin-left: 20px;
	padding-top: 20px;
	background: url("../images/reasonbg.png") top right no-repeat;
}

#reasons .reason.last
{
	background: none;
}

#reasons .reason h3
{
	color: #FFF;
	font-size: 38px;
	font-weight: 900;
	text-shadow: 0 2px 1px #1C6DA4;
}

#reasons .reason p
{
	width: 280px;
	font-size: 20px;
	color: #D1E9F6;
}

.ie7 #reasons, .ie8 #reasons
{
	border: 1px solid #1C6DA4;
}