.steps
{
	padding: 18px 0;
	margin: 0 auto;
	width: 845px;
}

.steps .step
{
	width: 160px;
	height: 236px;
	background: #55A2CB;
	border: 5px solid #1C6DA4;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	display: inline-block;
	vertical-align: top;
	padding: 10px;
	margin-right: 24px;
	float: left;
}

.steps .step h3
{
	font-weight: 700;
	font-size: 22px;
	color: #FFF;
	text-shadow: 0px 2px 0px #1C6DA4;
	display: inline;
}

.steps .step .icon
{
	width: 155px;
	height: 135px;
	background: url("../images/icons.png") no-repeat;
}

.steps .step .icon.start
{
	background-position: 0 0;
}

.steps .step .icon.customize
{
	background-position: 0 -135px; 
}

.steps .step .icon.review
{
	background-position: 0 -270px; 
}

.steps .step .icon.receive
{
	background-position: 0 -405px;
}

.steps .step p
{
	font-style: italic;
	color: #FFF;
	font-size: 14px;
}