@mixin arrow-down() {
  & {
    margin: 0 auto;
    width: 0; 
    height: 0; 
    border-left: 40em solid transparent;
    border-right: 40em solid transparent;
    
    border-top: 40em solid #B4DDEF;
  }
}

.arrow-down {
  @include arrow-down;
}

@mixin arrow-up() {
  & {
    margin: 0 auto;
    width: 0; 
    height: 0; 
    border-left: 40rem solid transparent;
    border-right: 40rem solid transparent;
    
    border-bottom: 40rem solid #B4DDEF;
  }
}

.arrow-up {
  @include arrow-up;
}
